.container {
  display: flex;
  gap: 10px; }
  .container .box2 {
    background-color: green;
    width: 120px;
    height: 130px; }
  .container .box3, .container .box1 .box5 {
    background-color: orange;
    width: 50px;
    height: 75px; }
  .container .box1 {
    background-color: blue;
    width: 100px;
    height: 150px; }
    .container .box1 .box5 {
      background-color: red; }
