* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif; }

.header {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .header .header-logo {
    width: 15vw;
    padding-top: 1rem; }
  .header .header-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    .header .header-nav .header-button {
      padding: 0.5rem;
      border-radius: 0.5rem; }
    .header .header-nav .header-button:hover {
      background-color: darkorange; }

.preview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  height: 220px;
  padding: 3rem; }
  .preview .preview-banner {
    padding: 3rem;
    width: 100%;
    height: 200px;
    background-image: url(../images/bicycles.jpg);
    background-size: 100%;
    background-position: center;
    position: absolute;
    z-index: -2; }
  .preview .preview-background {
    padding: 3rem;
    width: 100%;
    height: 200px;
    background-size: 100%;
    background-position: center;
    background-color: black;
    position: absolute;
    opacity: 65%;
    z-index: -1; }
  .preview .preview-body .preview-category {
    background-color: darkcyan;
    width: max-content;
    border-radius: 1rem;
    padding: 0.2rem 1rem; }
  .preview .preview-body .preview-title {
    padding-top: 0.5rem;
    padding-left: 0.5rem; }
  .preview .preview-body .preview-content {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* number of lines to show */
    line-clamp: 3;
    -webkit-box-orient: vertical; }
  .preview .preview-body .preview-button {
    background-color: darkorange;
    width: max-content;
    padding: 0.2rem 1rem;
    margin-top: 0.75rem; }
  .preview .preview-body .button:hover {
    background-color: orange;
    color: gray; }

.blog .blog-title {
  margin-left: 10%;
  padding: 1rem 0; }

.blog .blog-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  padding-bottom: 2rem;
  gap: 1rem; }
  .blog .blog-list .blog-list-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    background-color: azure; }
    .blog .blog-list .blog-list-item .blog-list-item-img {
      width: 95%;
      margin-top: 1rem; }
    .blog .blog-list .blog-list-item .blog-list-item-body {
      display: flex;
      flex-direction: column;
      width: 95%; }
      .blog .blog-list .blog-list-item .blog-list-item-body .blog-list-item-category {
        background-color: darkcyan;
        width: max-content;
        border-radius: 1rem;
        padding: 0.2rem 1rem;
        margin-top: 0.5rem; }
      .blog .blog-list .blog-list-item .blog-list-item-body .blog-list-item-title {
        color: black;
        padding: 0.25rem 0; }
      .blog .blog-list .blog-list-item .blog-list-item-body .blog-list-item-content {
        color: black;
        padding-bottom: 1.5rem;
        padding-top: 0.5rem; }

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: gray; }
  .footer .footer-section {
    width: 80vw; }
    .footer .footer-section .footer-about .footer-about-logo {
      width: 20vw;
      padding-top: 1rem; }
    .footer .footer-section .footer-about .footer-about-content {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      border-bottom: 1px dotted black;
      color: aliceblue; }
    .footer .footer-section .join {
      padding-top: 1rem;
      color: aliceblue;
      padding-bottom: 1rem;
      border-bottom: 1px dotted black; }
      .footer .footer-section .join .join-content {
        padding: 0.75rem 0rem; }
      .footer .footer-section .join .join-inputtext {
        width: 100%;
        height: 2rem; }
      .footer .footer-section .join .join-button {
        width: 100%;
        height: 2rem;
        background-color: darkorange;
        border-width: 0;
        margin-top: 0.5rem; }
    .footer .footer-section .links {
      display: flex;
      flex-direction: column;
      color: aliceblue; }
      .footer .footer-section .links .links-title {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem; }
      .footer .footer-section .links .links-body {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start; }
        .footer .footer-section .links .links-body .link-item {
          color: aliceblue;
          text-decoration-line: none;
          padding: 0.25rem;
          border-bottom: 1px dotted black;
          width: 70vw; }
    .footer .footer-section .followus {
      color: aliceblue;
      padding-bottom: 1rem;
      border-bottom: 1px dotted black;
      margin-bottom: 1rem; }
      .footer .footer-section .followus .followus-title {
        padding: 0.75rem 0; }
      .footer .footer-section .followus .followus-logo-holder .followus-item {
        padding: 0.3rem; }
    .footer .footer-section .copyright .copyright-content {
      background-color: dimgray;
      margin: 1rem 0rem;
      padding: 0.75rem;
      color: aliceblue; }

@media (min-width: 768px) {
  .header {
    gap: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center; }
    .header .header-logo {
      width: 5vw;
      padding-top: 1rem;
      margin-top: -15px;
      margin-left: 5vw; }
    .header .header-nav {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
      .header .header-nav .header-button {
        padding: 0.5rem;
        border-radius: 0.5rem; }
      .header .header-nav .header-button:hover {
        background-color: darkorange; }
  .blog .blog-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }
    .blog .blog-list .blog-list-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 30vw; }
  .footer {
    background-color: gray; }
    .footer .footer-section {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      width: 90vw; }
      .footer .footer-section .footer-section-main {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 2rem; }
        .footer .footer-section .footer-section-main .footer-about {
          width: 25%; }
          .footer .footer-section .footer-section-main .footer-about .footer-about-logo {
            width: 10vw;
            padding-top: 1rem; }
          .footer .footer-section .footer-section-main .footer-about .footer-about-content {
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            color: aliceblue;
            border-bottom: 0px none black; }
        .footer .footer-section .footer-section-main .join {
          width: 25%;
          border-bottom: 0px none black; }
        .footer .footer-section .footer-section-main .links {
          width: 25%; }
          .footer .footer-section .footer-section-main .links .links-body {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start; }
            .footer .footer-section .footer-section-main .links .links-body .link-item {
              color: aliceblue;
              text-decoration-line: none;
              padding: 0.25rem;
              border-bottom: 1px dotted black;
              width: 90%; }
        .footer .footer-section .footer-section-main .followus {
          width: 20%;
          color: aliceblue;
          border-bottom: 0px none black; }
      .footer .footer-section .copyright .copyright-content {
        background-color: dimgray;
        margin: 1rem 0rem;
        padding: 0.75rem;
        color: aliceblue; } }
